@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img-app {
    background-image: url('./images/school.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.bg-img {
    background-image: url('./images/backg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
